/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 12pt;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


h1 {
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    word-spacing: 2px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

.inner {
    margin: auto;
    max-width: 90%;
}

.btn:link,
.btn:visited {
    display: inline-block;
    border: 1px solid  #46A5DD;
    background-color:  #46A5DD;
    color: #fff;
    border-radius: 200px;
    padding: 10px 30px;
    margin-right: 20px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #2383bc;
}

/* ----------------------------------------------- */
/* SIDEBAR */
/* ----------------------------------------------- */

.logo {
    height: 3.4em;
    width: auto;
    float: left;
    margin-top: 0.05em;
    margin-left: 1em;
}

.logo-text {
    height: 4.4em;
    width: auto;
    float: left;
    margin-left: 0.4em;
    padding-bottom: 0.8em;
}

#sidebar {
    height: 7.5vh;
    left: 0;
    line-height: 3.5em;
    overflow: hidden;
    padding: 0;
    text-align: center;
    top: 0;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    display: block;
    z-index: 1;
}

#sidebar div ul {
    float: right;
    list-style: none;
}

#sidebar div ul li {
    display: inline-block;
    margin-left: 5em; 
}

#sidebar div ul a:link,
#sidebar div ul a:visited {
    padding: 18px 0;
    text-transform: uppercase;
    font-size: 90%;
    border-top: 2px solid transparent;
    color:#000;
    -webkit-transition: color 0.2s, border-top 0.2s;
    transition: color 0.2s, border-top 0.2s;
}

#sidebar div ul a:hover {
    color:  #46A5DD;
    border-top: 2px solid  #46A5DD;
}

.current-page {
    color:  #46A5DD !important;
    border-top: 2px solid  #46A5DD !important;
}

/* ----------------------------------------------- */
/* WRAPPER */
/* ----------------------------------------------- */

#wrapper section {
    display: none;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    top: 7.5vh;
}

.wrapper.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 92.5vh;
    overflow: scroll;
}

.wrapper::-webkit-scrollbar {
    width: 10px;
}

.wrapper::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.wrapper::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}
/* ----------------------------------------------- */
/* WELCOME */
/* ----------------------------------------------- */

#welcome-menu {
    outline: none;
}

#welcome-menu-display {
    height: 92.5vh;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgba(45, 40, 62, 0.7), rgba(45, 40, 62, 0.7)), url(images/main.jpg);
    background-size: cover;
}

#welcome-menu-display .hero-content {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#welcome-menu-display .hero-content h1 {
    text-transform: uppercase;
    font-size: 280%;
    margin-bottom: 20px;
    font-weight: 1000;
}

#welcome-menu-display .hero-content p {
    font-size: 100%;
    font-weight: 400;
    margin-bottom: 5px;
    color: #ccc
}

#dress-btn {
    margin-top: 45px;
}

/* ----------------------------------------------- */
/* TAGS SELECTION */
/* ----------------------------------------------- */

.tags-container {
    background-color: #f6f6f6;
    display: none;
    position: absolute;
    width: 115px;
    height: auto;
}

.context-menu {
    box-shadow: 0 0 20px 0 #ccc;
}

.context-menu ul li:not(.tags-separator) {
    padding: 3px 5px;
    font-size: 90%;
    border-left: 3px solid transparent;
    transition: background-color .2s, border-left .2s;
}

.context-menu ul li:hover {
    background-color: #eee;
    border-left: 3px solid #666;
}

.icon-li {
    display: none;
    float: right; 
}

.tags-separator {
    height: 1px;
    background-color: #dedede;
    margin: 1px 0;
}

.imported-img {
    height: 283.4px;
}

.imported-img:nth-of-type(5n+1) { margin-left: 0; }

.button-container {
    text-align: center;
    margin: 10px 0;
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100%;
}




/* ----------------------------------------------- */
/* IMPORT SECTION */
/* ----------------------------------------------- */

#import-menu {
    outline: none;
}

#import-menu-display {
    background-image: url(images/background_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#img-container {
    display: block;
    position: absolute;
    top: 61.2px;
    width: 100%;
    left: 5%;
}

/* ----------------------------------------------- */
/* CLOTHES SECTION */
/* ----------------------------------------------- */

#clothes-menu {
    outline: none;
}

#clothes-menu-display {
    background-image: url(images/background_2.jpg);
    background-size: cover;
}

.clothes-display-box {
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
}
.clothes-display-container {
    position: absolute;
    display: block;
    width: 82%;
    height: 87%;
    top: 10%;
    left: 9%;
}

.clothes-select-box {
    position: absolute;
    display: block;
    right: 0;
    width: 50%;
    height: 100%;
}

.clothes-select-container {
    position: absolute;
    display: block;
    width: 85%;
    height: 90%;
    top: 5%;
}

.clothes-select-header {
    position: absolute;
    display: block;
    height: 55px;
    width: 100%;
    background-color: #7fc0de;
    background-image: linear-gradient(#7fc0de, #46A5DD);
    border-radius: 25px;
    z-index: 1;
}

.below-clothes-select-header {
    display: block;
    position: absolute;
    top: 27.5px;
    height: calc(100% - 27.5px);
    left: 2%;
    width: 96%;
    padding-top: 30px;
    background-color: rgba(136, 169, 184, 0.5)
}

.below-below-clothes-select-header{
    display: block;
    position: absolute;
    height: calc(100% - 30px);
    width: 100%;
    overflow-y: scroll;
    bottom: 0
}

.below-below-clothes-select-header::-webkit-scrollbar {
    width: 10px;
}

.below-below-clothes-select-header::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.below-below-clothes-select-header::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

.icon-button:nth-of-type(4n+1) {    
    top: calc(5% + 55px + 15px);
}

.icon-button:nth-of-type(4n+2) {
    top: calc(5% + 55px + 40px + 15px + 15px)
}

.icon-button:nth-of-type(4n+3) {
    top: calc(5% + 55px + 2*40px + 2*15px + 15px)
}

.icon-button:nth-of-type(4n) {
    top: calc(5% + 55px + 3*40px + 3*15px + 15px)
}

.top {
    position: absolute;
    display: block;
    right: 4%;
    height: calc((100% - 10px)/2);
    width: 43.48%;
    background-color: red;
}

.bottom {
    position: absolute;
    display: block;
    right: 4%;
    top: calc((100% - 10px)/2 + 10px);
    height: calc((100% - 10px)/2);
    width: 43.48%;
    background-color: red;
}

.jacket {
    position: absolute;
    display: block;
    left: 5%;
    top: 10%;
    height: calc((100% - 10px)/2);
    width: 43.48%;
    background-color: red;
}

.shoes {
    position: absolute;
    display: block;
    top: calc(62% + 15px);
    left: 9.5%;
    height: 30%;
    width: 34.5%;
    background-color: red;
}

.main-clothes {
    height: 37.2%;
    background-color: black;
}

.icon-button {
    stroke-width: 0px; 
    background-color: #FAF5F4;
    position: absolute;
    display:block;
    left: calc(85% + 5px);
    border-radius: 25%;
    height: 40px;
    width: 40px;
    padding: 5px;
    transition: background-color 0.2s;
}

.icon-button:hover {
    background-color: #46A5DD;
}

.icon-button path {
    fill: #39AFE5;
    transition: fill 0.2s;
}

.icon-button:hover path {
    fill: #FAF5F4;
}
/* 
#clothes-select-header-text {
    text-align: center;
} */

/* ----------------------------------------------- */
/* ABOUT SECTION */
/* ----------------------------------------------- */

#about-menu {
    outline: none;
}